<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABNfO75K5P1CLkum_2t92BE_--wjUxwEg</string>
	<key>GCM_SENDER_ID</key>
	<string>8731168857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.self.QualityHomeFitness</string>
	<key>PROJECT_ID</key>
	<string>fyp-app-946ae</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-app-946ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8731168857:ios:eb182a62ff002670942148</string>
</dict>
</plist>